@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 60%;
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  background-color: #4d8acb;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.calculator {
  background-color: #ebf5ff;
  width: 33%;
  margin: auto;
  padding: 2rem;
  height: 85%;
  border-radius: 10px;
  padding: 2rem;
  border-radius: 30px;
  padding: 5rem;
  cursor: pointer;

}

.display {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2rem;
  height: 100%;
  cursor: pointer;
}

.input-box {
  grid-column: 1/6;
  grid-row: 1/3;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 2rem;
  cursor: pointer;
  
}

input{
    background-color: #cbe5fe;
    color: rgb(23, 59, 94);
    font-size: 6rem;
    font-weight: 700;
    text-align: right;
}

input::placeholder{
    color: rgb(23, 59, 94);
    font-size: 6rem;
    font-weight: 700;
}


button{
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}


.btn{
    padding: 1rem;
  border-radius: 13px;
  border: none;
  outline: none;
}


.btn-light{
    background-color:rgb(203, 229, 254) ;
    color: rgb(31, 68, 101);
}

.btn-dark{
    background-color: rgb(162, 208, 250);
    color: rgb(86, 144, 200);
}

.btn-enter {
    grid-column: 3/6;
    padding: 1rem;
    border-radius: 13px;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgb(77, 139, 200);
    color:rgb(222, 244, 255) ;
  }


  /* ==================================== MEDIA QUERIES ======================================== */

  @media screen and (max-width: 1760px) {


    .calculator {
        width: 40%;
        }

    
  }

  @media screen and (max-width: 1300px) {


    .calculator {
        width: 50%;
        }

    
  }

  @media screen and (max-width: 1050px) {


    .calculator {
        width: 60%;
        }

        button{
            
            font-size: 2.5rem;
        
        }

    
  }

  @media screen and (max-width: 850px) {


    .calculator {
        width: 70%;
        height: 60% ;
        }

        button{
            
            font-size: 2.4rem;
        
        }

    
  }

  @media screen and (max-width: 800px) {


    .calculator {
        width: 70%;
        height:75%
        }
    
  }

  @media screen and (max-width: 700px) {


    .calculator {
        width: 90%;
        }

        button{
            
            font-size: 2rem;
        
        }

    
  }


  @media screen and (max-width: 500px) {

    .display{
        gap:1.5rem;
        
        
    }
    .calculator {
        width: 90%;
        height: 75%;
        }

        button{
            height: 85%;
            width: 100%;
            
            font-size: 1.5rem;
        
        }

    }

    @media screen and (max-width: 450px) {


        .main-container{
            padding: 1rem;
        }
        .display{
            gap:1.5rem;
            padding: 1rem;
            
        }
        .calculator {
            width: 100%;
            height: 75%;
            padding: 1rem;
            }
    
            button{
                height: 85%;
                width: 100%;
                
                font-size: 1.5rem;
            
            }
        }

        @media screen and (max-width: 360px) {


            .main-container{
                padding: 1rem;
            }
            .display{
                gap:1rem;
                padding: 1rem;
                
            }
            .calculator {
                width: 100%;
                height: 65%;
                padding: 1rem;
                }
        
                button{
                    height: 85%;
                    width: 100%;
                    
                    font-size: 1.5rem;
                
                }
            }